<div class="container p-4">
	<div class="row">
		{{#each negocios}}
		<div class="col-md-3">
			<div class="card text-center">
				<h3 class="card-title">
					{{Nombre}}
				</h3>
				<div class="cars-body m-2">
					<p>
						Correo: {{Correo}}
					</p>
					<br>
					<p>
						Celular: {{Celular}}
					</p>
					<a href="/api/deletenegocio/{{ID}}" class="btn btn-danger">Borrar</a>
					<a href="/api/editarnegocio/{{ID}}" class="btn btn-secondary">Editar</a>
				</div>
				<p> Propietario: {{Primer_nombre}} {{Primer_apellido}}</p>
			</div>
		</div>
		{{else}}
		<div class="col-md-4 mx-auto">
			<div class="card card-body text-center">
				<p>No hay ningun negocio agregado par el usuario.</p>
				<a href="/api/postnegocios">Agrega uno...</a>
			</div>
		</div>
		{{/each}}
	</div>
</div>