<div class="container p-4">
	<div class="row">
		<div class="col-md-4 mx-auto">
			<div class="card">
				<div class="cars-body">
					<form action="/api/editarnegocio/{{negocio.ID}}" method="POST">
						<div class="form-group">
							<label for="Nombre" class="form-label">Nombre del negocio: </label>
							<input value="{{negocio.Nombre}}" type="text" class=" form-control" id="Nombre" name="Nombre" />
						</div>
						<div class="form-group">
							<label for="Direccion" class="form-label">Direccion: </label>
							<input value="{{negocio.Direccion}}"type="text" class=" form-control" id="Direccion" name="Direccion" />
						</div>
						<div class="form-group">
							<label for="Celular" class="form-label">Celular: </label>
							<input value="{{negocio.Celular}}"type="text" class=" form-control" id="Celular" name="Celular" />
						</div>
						<div class="form-group">
							<label for="Correo" class="form-label">Correo: </label>
							<input value="{{negocio.Email}}"type="email" class=" form-control" id="Correo" name="Correo" />
						</div>
						<div class="form-control">
							<button class="btn btn-success btn-block">Guardar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>